<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="refresh" content="3;URL='http://www.example.com/404.html'" /> 
        <title>Tamagotchi</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">

            #parse( $template )

        </div>
    </body>
</html>
